%tr{class: user == current_user ? 'you' : nil}
  %td.count= @users.index(user) + 1
  - if user == current_user
    %td
      .screenname= link_to 'You', user_treks_path(user)
      .troop= user.unit.name
  - else
    %td
      .screenname= user.screenname
      .troop= user.unit.name
  %td.distance
    .miles
    = user.miles_count
    .legend miles
  %td.progress-status
    .progress(style="height: 20px;")
      .progress-bar.bg-secondary(role="progressbar" style="width: #{user.miles_count / Unit.first.miles_goal * 100}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
