.row
  .col-6
    #clearance.sign-up
      %h2= t(".title")

      = form_for @user do |form|
        = render partial: '/users/form', object: form

        %br
        .form-group
          = form.submit 'Sign me up', class: 'btn btn-lg btn-primary'

        .other-links
          = link_to t(".sign_in"), sign_in_path
