#treks
  .row
    .col-md-8
      %h1 My hikes

      .total-miles
        #total-miles= current_user.miles_count
        .legend Total miles

      .table-responsive
        %table.table#treks-table
          %thead
            %tr
              %th.date Date
              %th.miles Miles
              %th.actions

          %tbody
            - @treks.each do |trek|
              %tr
                %td.date
                  .d-none.d-lg-block= nice_date(trek.date)
                  .d-block.d-lg-none= nice_compact_date(trek.date)
                %td.miles= trek.distance_in_miles
                %td.actions
                  = link_to edit_trek_path(trek) do
                    = fa_icon 'edit'
                  = link_to trek, method: :delete, data: { confirm: 'Are you sure?' } do
                    = fa_icon 'trash'

      = button_to 'New Hike', new_trek_path, method: :get, class: 'btn btn-lg btn-primary'
